<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page 2</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/listPersonne}">Liste Personne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addPersonne}">Ajouter Personne </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<h1 class="text-bg-danger" th:utext="${message}">....!!</h1>

<table class="table table-striped">
    <tr th:each="msg:${messages}">
        <td th:utext="${msg}"></td>
    </tr>
</table>
</body>
</html>